<section class="flex flex-col w-4/5 sm:w-1/2 md:w-2/6 bg-gray-300 p-5 rounded-lg shadow-stone-500 shadow-md">
<div class="mb-3">
  <p class="text-center text-xl"><%= task.title %></p>
  <p><%= task.description %></p>
</div>

<button class="form-buttons"><%= link_to 'Voltar', tasks_path %></button>
</section>