<div class="tailwindclass-teste">
  <h1 class="font-bold text-center">Title Main</h1>
  <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, quia repudiandae molestiae accusantium beatae aliquam, vitae ex et, nulla accusamus numquam ea inventore perspiciatis sunt dolorum pariatur obcaecati ad commodi.</p>
</div>